header.header {
	position: relative;
	h1 {
		margin: 8rem auto 5rem;
		font-size: 3.5rem;
		font-family: $roboto;
		font-weight: 900;
		letter-spacing: 1.5rem;
		color: $black !important;
		text-align: center;
	}

	nav {
		ul {
			width: 50%;
			margin: auto;
			display: flex;
			justify-content: space-evenly;
			li {
				font-weight: 800;
				width: calc(100% - 2rem);
				height: 3rem;
				margin: auto 1rem;
				text-align: center;

				a {
					width: 100%;
					height: 100%;
					padding-top: 0.75rem;
					display: block;
					transition: all 0.2s;
					&:hover {
						transition: all 0.1s;
						color: $pink;
					}
				}
			}
		}
	}

	aside {
		position: absolute;
		top: -2rem;
		right: 3rem;
		ul {
			display: flex;
			flex-direction: column;

			li {
				margin-bottom: 2rem;

				svg {
					fill: $black;
					width: 3rem;
					height: 3rem;
					transition: all 0.2s;
					&:hover {
						transition: all 0.1s;
						fill: $pink;
					}
				}
			}
		}
	}
}
