//FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500;900&display=swap");
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;

//COLOR

$white: #fff;
$black: #000;
$pink: #e599c4;
