@import "./reset.css";
@import "./settings";

html {
	font-size: 62.5%;
}

body {
	//FONT
	font-size: 1.4rem;
	font-family: $lato;
	color: $black;

	.App {
		//HEADER
		@import "./components/header";

		//FOOTER
		@import "./components/footer";

		//BORDER
		border: 3rem solid lighten($pink, 20%);
		min-height: calc(100vh - 6rem);

		.body-page {
			min-height: calc(100vh - 6rem - 25rem);
		}

		//PAGES
		@import "./pages/infos";

		//COMPONENT
		@import "./components/gallery";
	}

	// GLOBALS

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $roboto;
		font-weight: 900;
		color: $black !important;
	}

	strong {
		font-weight: bolder;
	}
	a {
		text-decoration: none;
		color: $black;

		&.active {
			color: $pink;
		}
	}

	//CLASSES
	.container {
		width: 80%;
		margin: auto;
	}
}
